{% extends 'backend/base.html' %}
{% block title %}
{{ title }}
{% endblock  %}
{% block content%}
  <h1>Категории</h1>
  <h1>Категории</h1>
  {% if category%}
   {% for el in category%}
      <div class="row">
        <div class="col-lg-4">
           
          <h2 class="fw-normal">{{el.title}}</h2>
          <h3>{{el.description}}</h3>
          <p>Ссылка на Обложку категории {{el.cover}}</p>
          <p><a class="btn btn-secondary" href="http://backendk.std-1717.ist.mospolytech.ru/admin/category/category/">Изменить запись »</a></p>
        </div><!-- /.col-lg-4 -->
      </div>
    {% endfor %}
    {% else %}
    <p>У нас нет записей</p>
    {% endif %}

 {% endblock  %}
