{% extends 'backend/base.html' %}
{% block title %}
Правообладателям
{% endblock  %}
{% block content%}
<h1>Страница для правообладателей</h1>

<div class="col-md-8">
    <h2 class="pb-4 mb-4 fst-italic border-bottom">
        Правообладателям
    </h2>
    <article class="blog-post">
      <h3 class="blog-post-title mb-1">Авторское право: как защитить себя, если утащили ваш контент</h3>
      <p class="blog-post-meta">Июль 07, 2022 by <a href="#">Admin</a></p>

      <p>Воровство контента (и авторских прав на него) в интернете встречается сплошь и рядом. Этого не избежать. Хотя нет, один способ все-таки есть — совсем ничего не публиковать. =) 
        К сожалению, контент копировали, копируют и будут копировать.    
        И если предотвратить воровство нельзя, то можно подготовиться к тому, чтобы защищать нарушенные права. Итак, по порядку.</p>
    </article>
    <article class="blog-post">
        <h3 class="blog-post-title mb-1">Немного занудства: пробежимся по статьям Гражданского кодекса</h3>
        <p class="blog-post-meta">Июль 07, 2022 by <a href="#">Admin</a></p>
  
        <p>Авторскому праву посвящена целая глава в Гражданском кодексе Российской Федерации. Под авторским правом понимаются интеллектуальные права на произведения науки, литературы и искусства (ст. 1255 ГК РФ).

            Объектом авторского права являются, соответственно, произведения науки, литературы и искусства независимо от достоинств и назначения произведения, а также от способа его выражения (ст. 1259 ГК РФ).
            
            Немного поясню: сайт (целиком), контент с сайта, фотографии, картинки, видеоролики — всё это относится к объектам авторского права.
            
            Автором произведения науки, литературы и искусства признается гражданин, творческим трудом которого оно создано (ст. 1257 ГК РФ). Но что значит эта красивая формулировка «творческим трудом»? У каждого автора, который пишет, фотографирует, рисует, придумывает сценарий, по сути, происходит умственный процесс. Он сначала придумывает идею, а затем ее воплощает. Умственные процессы преобладают над физическими, поэтому это творческий труд. Если же человек помогает автору, например, материально или оказывает содействие в съемке, то это считается техническим трудом, и в этом случае на соавторство претендовать нельзя. А вот если подкинуть идеи, дополнить или придумать что-то новое, то пожалуйста — вы соавтор.
            
            А возникает авторское право на произведение автоматически в момент его создания. Для возникновения, осуществления и защиты авторских прав не требуется регистрация произведения или соблюдение каких-либо иных формальностей (п. 4 ст. 1259 ГК РФ).
            
            Теперь разберемся, какие именно права есть у автора. Традиционно права делятся на личные и имущественные. К личным правам относятся: право авторства; право автора на имя; право на неприкосновенность произведения; право на обнародование произведения (п. 2 ст. 1255 ГК РФ). К имущественным правам относится: исключительное право на произведение (ст. 1270 ГК РФ).
            
            Согласно п. 1 ст. 1229 ГК РФ, правообладатель может распоряжаться исключительным правом на результат интеллектуальной деятельности. Также правообладатель может по своему усмотрению разрешать или запрещать другим лицам использование результата интеллектуальной деятельности. При этом отсутствие запрета не считается согласием/разрешением.
            
            Примечание: автор и правообладатель — это не всегда одно и то же лицо. Автором является человек, чьим творческим трудом создано произведение. А вот правообладателем может быть как физическое, так и юридическое лицо. Поскольку законодательство не запрещает отчуждение права в пользу других лиц, то правообладателю принадлежит исключительное право на произведение.
            
            Отчуждение права может быть как в полном объеме, так и частично. И происходит отчуждение на основании договора. Например, в Договоре об оказании услуг, который мы заключаем с Заказчиками, есть пункт, который регулирует отношения в этой сфере: «Исключительные права на использование дизайна, текстов, иллюстраций и других материалов, разработанных согласно настоящему договору, принадлежат Заказчику (то есть клиенту) и передаются ему после завершения Исполнителем (то есть нами) соответствующих работ».</p>
      </article>
      <article class="blog-post">
        <h3 class="blog-post-title mb-1">Глава в Гражданском</h3>
        <p class="blog-post-meta">Июль 07, 2022 by <a href="#">Admin</a></p>
  
        <p>Авторскому праву посвящена целая Авторскому праву посвящена целая глава в Гражданском кодексе Российской Федерации. Под авторским правом понимаются интеллектуальные права на произведения науки, литературы и искусства (ст. 1255 ГК РФ).

            Объектом авторского права являются, соответственно, произведения науки, литературы и искусства независимо от достоинств и назначения произведения, а также от способа его выражения (ст. 1259 ГК РФ).
            
            Немного поясню: сайт (целиком), контент с сайта, фотографии, картинки, видеоролики — всё это относится к объектам авторского права.
            
            Автором произведения науки, литературы и искусства признается гражданин, творческим трудом которого оно создано (ст. 1257 ГК РФ). Но что значит эта красивая формулировка «творческим трудом»? У каждого автора, который пишет, фотографирует, рисует, придумывает сценарий, по сути, происходит умственный процесс. Он сначала придумывает идею, а затем ее воплощает. Умственные процессы преобладают над физическими, поэтому это творческий труд. Если же человек помогает автору, например, материально или оказывает содействие в съемке, то это считается техническим трудом, и в этом случае на соавторство претендовать нельзя. А вот если подкинуть идеи, дополнить или придумать что-то новое, то пожалуйста — вы соавтор.
            
            А возникает авторское право на произведение автоматически в момент его создания. Для возникновения, осуществления и защиты авторских прав не требуется регистрация произведения или соблюдение каких-либо иных формальностей (п. 4 ст. 1259 ГК РФ).
            
            Теперь разберемся, какие именно права есть у автора. Традиционно права делятся на личные и имущественные. К личным правам относятся: право авторства; право автора на имя; право на неприкосновенность произведения; право на обнародование произведения (п. 2 ст. 1255 ГК РФ). К имущественным правам относится: исключительное право на произведение (ст. 1270 ГК РФ).
            
            Согласно п. 1 ст. 1229 ГК РФ, правообладатель может распоряжаться исключительным правом на результат интеллектуальной деятельности. Также правообладатель может по своему усмотрению разрешать или запрещать другим лицам использование результата интеллектуальной деятельности. При этом отсутствие запрета не считается согласием/разрешением.
            
            Примечание: автор и правообладатель — это не всегда одно и то же лицо. Автором является человек, чьим творческим трудом создано произведение. А вот правообладателем может быть как физическое, так и юридическое лицо. Поскольку законодательство не запрещает отчуждение права в пользу других лиц, то правообладателю принадлежит исключительное право на произведение.
            
            Отчуждение права может быть как в полном объеме, так и частично. И происходит отчуждение на основании договора. Например, в Договоре об оказании услуг, который мы заключаем с Заказчиками, есть пункт, который регулирует отношения в этой сфере: «Исключительные права на использование дизайна, текстов, иллюстраций и других материалов, разработанных согласно настоящему договору, принадлежат Заказчику (то есть клиенту) и передаются ему после завершения Исполнителем (то есть нами) соответствующих работ». Российской Федерации. Под авторским правом понимаются интеллектуальные права на произведения науки, литературы и искусства (ст. 1255 ГК РФ).
            
                Объектом авторского права являются, соответственно, произведения науки, литературы и искусства независимо от достоинств и назначения произведения, а также от способа его выражения (ст. 1259 ГК РФ).
                
                Немного поясню: сайт (целиком), контент с сайта, фотографии, картинки, видеоролики — всё это относится к объектам авторского права.
                
                Автором произведения науки, литературы и искусства признается гражданин, творческим трудом которого оно создано (ст. 1257 ГК РФ). Но что значит эта красивая формулировка «творческим трудом»? У каждого автора, который пишет, фотографирует, рисует, придумывает сценарий, по сути, происходит умственный процесс. Он сначала придумывает идею, а затем ее воплощает. Умственные процессы преобладают над физическими, поэтому это творческий труд. Если же человек помогает автору, например, материально или оказывает содействие в съемке, то это считается техническим трудом, и в этом случае на соавторство претендовать нельзя. А вот если подкинуть идеи, дополнить или придумать что-то новое, то пожалуйста — вы соавтор.
                
                А возникает авторское право на произведение автоматически в момент его создания. Для возникновения, осуществления и защиты авторских прав не требуется регистрация произведения или соблюдение каких-либо иных формальностей (п. 4 ст. 1259 ГК РФ).
                
                Теперь разберемся, какие именно права есть у автора. Традиционно права делятся на личные и имущественные. К личным правам относятся: право авторства; право автора на имя; право на неприкосновенность произведения; право на обнародование произведения (п. 2 ст. 1255 ГК РФ). К имущественным правам относится: исключительное право на произведение (ст. 1270 ГК РФ).
                
                Согласно п. 1 ст. 1229 ГК РФ, правообладатель может распоряжаться исключительным правом на результат интеллектуальной деятельности. Также правообладатель может по своему усмотрению разрешать или запрещать другим лицам использование результата интеллектуальной деятельности. При этом отсутствие запрета не считается согласием/разрешением.
                
                Примечание: автор и правообладатель — это не всегда одно и то же лицо. Автором является человек, чьим творческим трудом создано произведение. А вот правообладателем может быть как физическое, так и юридическое лицо. Поскольку законодательство не запрещает отчуждение права в пользу других лиц, то правообладателю принадлежит исключительное право на произведение.
                
                Отчуждение права может быть как в полном объеме, так и частично. И происходит отчуждение на основании договора. Например, в Договоре об оказании услуг, который мы заключаем с Заказчиками, есть пункт, который регулирует отношения в этой сфере: «Исключительные права на использование дизайна, текстов, иллюстраций и других материалов, разработанных согласно настоящему договору, принадлежат Заказчику (то есть клиенту) и передаются ему после завершения Исполнителем (то есть нами) соответствующих работ».</p>
      </article>
     
    <nav class="blog-pagination" aria-label="Pagination">
      <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
    </nav>

  </div>
{% endblock  %}

