{% extends 'backend/base.html' %}
{% block title %}
{{ title }}
{% endblock  %}
{% block content%}
  <h1>Главная страница</h1>
  <h1>Главная страница</h1>
  {% if journal%}
   {% for el in journal%}
       <div class="row">
        <div class="col-lg-4">
           
          <h2 class="fw-normal">{{el.title}}</h2>
          <h3>{{el.description}}</h3>
          <p>Ссылка на Фото {{el.photo_file}}</p>
          <p>Ссылка на Обложку {{el.cover}}</p>
          <p>{{el.released_at}}</p>
          <p><a class="btn btn-secondary" href="http://backendk.std-1717.ist.mospolytech.ru/admin/journal/journal/">Изменить запись »</a></p>
        </div><!-- /.col-lg-4 -->
      </div> 
    {% endfor %}
    {% else %}
    <p>У нас нет записей</p>
    {% endif %}
 {% endblock  %}
