{% extends 'backend/base.html' %}
{% block title %}
{{ title }}
{% endblock  %}
{% block content%}
  <h1>Популярное</h1>
  <h1>Популярное</h1>
  {% if journal%}
   {% for el in journal%}
      <div class="alert alert-warning mt-2">
        <h3>{{el.title}}</h3>
        <h3>{{el.description}}</h3>
        <h3>{{el.photo_file}}</h3>
        <h3>{{el.cover}}</h3>
        <h3>{{el.publication}}</h3>
      </div>
    {% endfor %}
    {% else %}
    <p>У нас нет ПОПУЛЯРНЫХ записей</p>
    {% endif %}

 {% endblock  %}
